<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vidaloka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Vidaloka&display=swap" rel="stylesheet">>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


</head>
<body>
    

    {% if user.is_authenticated %}
        <div class="navbar">
            <div class="logo">
                    <h2>G<span style="color:rgb(238, 67, 67) ;font-family:'Vidaloka', serif;font-size: 25px;">-home</span></h2>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href="signout"><span class="material-symbols-outlined">logout</span> Log out</a></li>
                </ul>
            </nav>
        </div>
    
        <div class="welcome">
        <h2 class="name">Hello {{ name }},</h2>
        <h3 style="font-family: 'Vidaloka', serif;font-size:20px;"> Thank you for signing up with G-home . We are happy to have you with us.</h3>
        <div class="switches">
            <ul>
            <li>
                <div class="one">
                    {% if status.switch_1 == True %}
                <span class="material-symbols-outlined" style="font-size:40px;color:rgb(12, 226, 12)" >
                    power_settings_new
                    </span>
                {% else %}
                <span class="material-symbols-outlined" style="font-size:40px;color:red">
                    power_settings_new
                    </span>
                {% endif %}
    
                    <form method="POST">{% csrf_token %}
                        <button style=" font-family:'Vidaloka', serif;font-size:20px;font-size: 15px;color:white;width: 150px;height: 45px;background:#1e73f1; border-radius: 10px;border:none;cursor:pointer;" type="submit"  name="sw1">Switch 1</button>
            
                    </form>
                
                </div>
                
            </li>

            <li>
                <div class="two">
                    {% if status.switch_2 == True %}
                <span class="material-symbols-outlined" style="font-size:40px;color:rgb(12, 226, 12)">
                    power_settings_new
                    </span>
                {% else %}
                <span class="material-symbols-outlined" style="font-size:40px;color:red">
                    power_settings_new
                    </span> 
                {% endif %}
                <form method="POST">{% csrf_token %}
                    <button style=" font-family:'Vidaloka', serif;font-size:20px;font-size: 15px;color:white;width: 150px;height: 45px;background:#1e73f1; border-radius: 10px;border:none;cursor:pointer;" type="submit" name="sw2">Switch 2</button>
                </form>
                </div>
                
            </li>

            <li>
                <div class="three">
                    {% if status.switch_3 == True %}
                    <span class="material-symbols-outlined" style="font-size:40px;color:rgb(12, 226, 12)">
                        power_settings_new
                        </span>
                    {% else %}
                    <span class="material-symbols-outlined" style="font-size:40px;color:red">
                        power_settings_new
                        </span>
                    {% endif %}
                    <form method="POST">{% csrf_token %}
                        <button style=" font-family:'Vidaloka', serif;font-size:20px;font-size: 15px;color:white;width: 150px;height: 45px;background:#1e73f1; border-radius: 10px;border:none;cursor:pointer;" type="submit" name="sw3">Switch 3</button>
                    </form>
                </div>
               
            </li>

            <li>
                <div class="four">
                    {% if status.switch_4 == True %}
                <span class="material-symbols-outlined" style="font-size:40px;color:rgb(12, 226, 12)">
                    power_settings_new
                    </span>
                {% else %}
                <span class="material-symbols-outlined" style="font-size:40px;color:red">
                    power_settings_new
                    </span>
                {% endif %}
                <form method="POST">{% csrf_token %}
                    <button style=" font-family:'Vidaloka', serif;font-size:20px;font-size: 15px;color:white;width: 150px;height: 45px;background:#1e73f1; border-radius: 10px;border:none;cursor:pointer;" type="submit" name="sw4">Switch 4</button>
                </form>
            
                </div>
            </li>
                

            <li>
                <div class="five">
                    {% if status.switch_5 == True %}
                <span class="material-symbols-outlined" style="font-size:40px;color:rgb(12, 226, 12)">
                    power_settings_new
                    </span>
                {% else %}
                <span class="material-symbols-outlined" style="font-size:40px;color:red">
                    power_settings_new
                    </span>
                {% endif %}
                <form method="POST">{% csrf_token %}
                    <button style=" font-family:'Vidaloka', serif;font-size:20px;font-size: 15px;color:white;width: 150px;height: 45px;background:#1e73f1; border-radius: 10px;border:none;cursor:pointer;" type="submit" name="sw5">Switch 5</button>
                </form>
            
                </div>
                
            </li>

            <li>
                <div class="six">
                    {% if status.switch_6 == True %}
                <span class="material-symbols-outlined" style="font-size:40px;color:rgb(12, 226, 12)">
                    power_settings_new
                    </span>
                {% else %}
                <span class="material-symbols-outlined" style="font-size:40px;color:red">
                    power_settings_new
                    </span>
                {% endif %}
                <form method="POST">{% csrf_token %}
                    <button style=" font-family:'Vidaloka', serif;font-size:20px;font-size: 15px;color:white;width: 150px;height: 45px;background:#1e73f1; border-radius: 10px;border:none;cursor:pointer;" type="submit" name="sw6">Switch 6</button>
                </form>
               
            
                </div>
                
                
            </li>
            
        </ul>
       
        
        </div>
        <div class="vector">
            
        </div>
        
       </div>
       
    </div>
       

     
    {% else %}
  <div class="container">
      <div class="navbar">
          <div class="logo">
              <h2>G<span style="color:rgb(238, 67, 67) ;font-family:'Vidaloka', serif;font-size: 25px;">-home</span></h2>
          </div>
        <nav >
              <ul>
                  
                  <li><a href='#'>HOME</a></li>
                  <li><a href="signup">SIGNUP</a></li>
                  <li><a href="signin">LOGIN</a></li>
              </ul>
          </nav>
      
      </div>
         
      <div class="picture">

      </div>
      
    <div style="margin-top: 18px;">
        {% for message in messages %}
        <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        {{ message }}
        </div>
    </div>
    {% endfor %}
    </div>
      <div class="content">
          <h1>Worried about your old ones?</h1>
          <p>Don't worry we got you. Introducing you to a gesture controlled world that gives you an intelligent smart home experience that makes life more comfortable and enjoyable.</p>
          <br>
          <button type="submit" class="login-btn" name="signin"><a href="signin"><b>Get's started</b></a></button>
        
      
      </div>
      <div class="tag1">
          <h1><strong>MAKE YOUR HOME.</strong> </h1> 
          <h2>SIMPLIFIED</h2>
          <br>
          <p>Life is busy everyday.But when your home appliances are connected into one simple-to-use system,it helps take away some of daily little stress.A true smart home makes the life of your older ones more easier and your home safer,more comfortable, and easy to enjoy.</p>
          <br>
          <br>
          <br>
          <div class="tag2">
              <div class="hed">
                <h2>Control your home using your hand</h2>
                <br>
                <p>With G-home ,you and your family can control nearly every device and system in the house using hand gestures and it will gives you a better smart home experience which can make life of your old ones more easier and safer</p>
              </div>
              <footer>
                <div class="footer-content">
                
                    <h3>G-home</h3>
                    <p>G-home is a website designed to make life of your older ones easier and safer.  With G-home you can control your home simple by different hand gestures.</p>
                    <div class="footer-bottom">
                    
                        <p>copyright &copy;2022 <a href="#">G-home</a>  </p>
                
                
                     </div>
                </div>
                
            
            </footer>
              
          </div>
          
      </div>
      
      
     
  </div>
  
     
             
            
        
    
   
    
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>