<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>signup</title>
</head>
<body>
    <h2>signup</h2>
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        {{ message }}
        </div>
    </div>
    {% endfor %}
    <form class=""  method="post">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Create username" required>
        <br>
  
        <label for="">First Name</label>
        <input type="text" id="fname" name="fname" placeholder="First Name" required>
        <br>
  
        <label for="">Last Name</label>
        <input type="text" id="lname" name="lname" placeholder="Last Name" required>
        <br>
  
        <label for="">Email</label>
        <input type="email" id="email" name="email" placeholder="email" required>
        <br>
  
        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="create a password" required>
        <br>
  
        <label for="">Confirm Password</label>
        <input type="password" id="pass2" name="pass2" placeholder="confirm password" required>
        <br>
  
        <button type="submit" name="signup">Sign UP</button>
        
  
      </form>
      <button type="submit" name="homebtn"> <a href="home"> Home</a></button>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>